{% extends "base.html" %}

{% block title %} Attendance System {% endblock %}

{% block content %}
    <div class="container" id="main">
        <h1 align="center">Attendance System for ATEva</h1><br>
        <h3 align="center">Proceed to working</h3><br>


        <p align="center"><a href="{% url 'login' %}"><button>Employee Login</button></a></p>

        <h4 align="center">or</h4>

        <p align="center"><a href="{% url 'register' %}"><button name="register">Sign Up</button></a></p>
    </div>
{% endblock %}